<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334257891538-llj35u2n9u73iq1ffcka8oop81sktc2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334257891538-llj35u2n9u73iq1ffcka8oop81sktc2o</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKf4gZBp2jr45uVGOn3Wy8e1GCz13QDU</string>
	<key>GCM_SENDER_ID</key>
	<string>334257891538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.byourside</string>
	<key>PROJECT_ID</key>
	<string>byourside-2ea11</string>
	<key>STORAGE_BUCKET</key>
	<string>byourside-2ea11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334257891538:ios:1048563fff6954daf4250b</string>
</dict>
</plist>